.carousel-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.card-top {
    padding: 10px;
}

.carousel-card {
  height: 290px;
  width: 85vw;
  background-color: white;
  margin: 15px;
  border: 1px solid lightgray;
  display: inline-block; 
  white-space: normal;
  box-shadow: 0px 1px 5px 0px rgba(171,171,171,1);
  scroll-snap-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 248px;
}

.card-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.price {
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
}

button {
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: solid 1px lightgray;
    box-shadow: 0px 1px 2px 0px rgba(171,171,171,1);
    outline: 0;
}

.more-button {
    background-color: white;
    padding: 10px 15px;
}

.confirm-button {
    color: white;
    background-color: #090736;
    padding: 10px 15px;
}

h3 {
    margin: 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #3663c9
}